# Day2: Agenda

- Looping
- Tuples
- Sets
- Dict
- File I/O

In [ ]:
# for (i=0; i<10; i++) {     # indexed for loop
#     arr[i]
# }

In [1]:
# for loop_var in iterable
for num in [1,2,3,4]:   # foreach varaint
    print(num)
    print(num**2)
    
print('Done')

1
1
2
4
3
9
4
16
Done

In [4]:
# Calculate sum of nums
total = 0
nums = [1,2,3,4]

for num in nums:
#     total = total + num
    total += num

In [5]:
total

10

In [6]:
sum(nums)

10

In [7]:
sum = __builtins__.sum

In [13]:
list = [1,2,3]

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list

[1, 2, 3]

In [15]:
nums = list.copy()
list = __builtins__.list

In [16]:
nums

[1, 2, 3]

In [17]:
list

list

In [19]:
# Sum of squares of nums
nums = [1,2,3,4]
sum_squares = 0

for num in nums:
    sum_squares += num**2

In [20]:
sum_squares

30

In [21]:
# squares of nums
nums = [1,2,3,4]
squares = []

for num in nums:
    squares.append(num**2)

In [22]:
squares

[1, 4, 9, 16]

In [23]:
sum(squares)

30

In [24]:
marks = [
    #M, E, S, H
    [100, 78, 49, 97],
    [55, 66, 77, 88],
    [29, 100, 45, 99]
]

In [28]:
total_marks = []
avg_marks = []

for ind_marks in marks:
    total = sum(ind_marks)
    total_marks.append(total)
    avg_marks.append(total/len(ind_marks))

In [27]:
total_marks

[324, 286, 273]

In [29]:
avg_marks

[81.0, 71.5, 68.25]

In [30]:
marks

[[100, 78, 49, 97], [55, 66, 77, 88], [29, 100, 45, 99]]

In [31]:
# Flatten the 2d list into a 1d
# [100,78,49,97,55,...]

flattened = []

for ind_marks in marks:
    flattened.extend(ind_marks)
    
flattened

[100, 78, 49, 97, 55, 66, 77, 88, 29, 100, 45, 99]

In [32]:
items = ['cookies', 'bread', 'eggs']
prices = [12.22, 55.55, 5.99]
counts = [3,      1,    12]

[[12.22, 55.55,..], [3,1,..]]
[[12.22, 3], [55.55, 1], [5.99, 12]]

In [ ]:
total_bill

In [ ]:
12.22 * 3 + 55.55 * 1 + 5.99 * 12

In [34]:
list(range(len(counts)))

[0, 1, 2]

In [ ]:
# for (i=0; i<=3; i++) {
#     prices[i] counts[i]
# }

In [35]:
total_bill = 0

for i in range(len(counts)):
    cur_total = prices[i] * counts[i]
    total_bill += cur_total
    
total_bill

164.09

In [39]:
for item in [[12.22, 3], [55.55, 1], [5.99, 12]]:
    print(item[0]*item[1])

36.660000000000004
55.55
71.88

In [41]:
list(zip(prices, counts))

[(12.22, 3), (55.55, 1), (5.99, 12)]

In [43]:
total_bill = 0
for item in zip(prices, counts):
    total_bill += item[0]*item[1]
    
total_bill

164.09

In [44]:
total_bill = 0
for price, count in zip(prices, counts):
    total_bill += price*count
    
total_bill

164.09

In [46]:
total_bill = 0
for item, price, count in zip(items, prices, counts):
    item_total = price*count
    total_bill += item_total
    print(item, count, price, item_total)

print('-'*20)
print('Total Bill', total_bill)

cookies 3 12.22 36.660000000000004
bread 1 55.55 55.55
eggs 12 5.99 71.88
--------------------
Total Bill 164.09

In [ ]:
Eggs  12  5.99  72
Bread ..

Total 164.09

In [47]:
prices

[12.22, 55.55, 5.99]

In [48]:
items

['cookies', 'bread', 'eggs']

In [50]:
prices

[12.22, 55.55, 5.99]

In [49]:
item=input('Enter item')
print('Price of', item, 111)

Enter itemasdf
Price of asdf 111

In [60]:
item = input('Enter item')
if item in items:
    idx = items.index(item)
    print(item, prices[idx])
else:
    print(item, 'not present')

Enter itembutter
butter not present

In [53]:
prices[idx]

5.99

## Dictionaries

- Lookup (uni-directional)
- Key-value pair store

In [64]:
ages = {'Snoopy': 101, 'Jumpy': 102, 'Sneezy': 99, 'Goofy': 104} 
d = {'a': 1, 'b': 2}
squares = {1:1, 2:4, 3:9, 4:16}

In [62]:
type(ages)

dict

In [65]:
ages['Jumpy']

102

In [66]:
ages['BlockHead']

KeyError: 'BlockHead'

In [ ]:
'BlockHead' in ages

In [67]:
spell = 'abracadabra'
'abra' in spell

True

In [68]:
d['a'] = 11
d

{'a': 11, 'b': 2}

In [69]:
ages['BlockHead'] = 111
ages

{'Snoopy': 101, 'Jumpy': 102, 'Sneezy': 99, 'Goofy': 104, 'BlockHead': 111}

In [70]:
del d['a']
d

{'b': 2}

In [71]:
ages.keys()

dict_keys(['Snoopy', 'Jumpy', 'Sneezy', 'Goofy', 'BlockHead'])

In [72]:
ages.values()

dict_values([101, 102, 99, 104, 111])

In [73]:
ages.items()

dict_items([('Snoopy', 101), ('Jumpy', 102), ('Sneezy', 99), ('Goofy', 104), ('BlockHead', 111)])

In [74]:
for name,age in ages.items():
    print(name, age)

Snoopy 101
Jumpy 102
Sneezy 99
Goofy 104
BlockHead 111

In [75]:
for name in ages.keys():
    print(name, ages[name])

Snoopy 101
Jumpy 102
Sneezy 99
Goofy 104
BlockHead 111

In [ ]:
for age in ages.values():
    print()

In [76]:
ages['Jumpy']

102

In [78]:
lage = 21
for name,age in ages.items():
    if lage==age:
        print(name)

In [ ]:
item_prices['eggs']

In [79]:
prices

[12.22, 55.55, 5.99]

In [80]:
items

['cookies', 'bread', 'eggs']

In [82]:
list(zip(items, prices))

[('cookies', 12.22), ('bread', 55.55), ('eggs', 5.99)]

In [83]:
dict(zip(items, prices))

{'cookies': 12.22, 'bread': 55.55, 'eggs': 5.99}

In [85]:
item_prices = {}

for item, price in zip(items, prices):
    item_prices[item] = price

In [86]:
item_prices

{'cookies': 12.22, 'bread': 55.55, 'eggs': 5.99}

In [91]:
# 1. create a squares dict that stores sqs of nums 10-20
squares = {}
for num in range(10,21):
    squares[num] = num**2
    
squares

{10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [94]:
# 2. dict of word lengths : {'the': 3, 'quick': 5}
sentence = 'the quick brown fox jumps over the lazy dog'

word_lens = {} 

for word in sentence.split():
    word_lens[word] = len(word)
    
word_lens

{'the': 3,
 'quick': 5,
 'brown': 5,
 'fox': 3,
 'jumps': 5,
 'over': 4,
 'lazy': 4,
 'dog': 3}

In [106]:
# 3. Count of coins in a piggy bank
from random import shuffle
piggy = [1]*5+[2]*11+[5]*7+[10]*5+[20]*3
shuffle(piggy)
piggy

[2,
 2,
 10,
 1,
 10,
 2,
 1,
 20,
 5,
 20,
 20,
 1,
 5,
 5,
 2,
 2,
 10,
 5,
 10,
 5,
 2,
 5,
 2,
 1,
 2,
 2,
 2,
 2,
 10,
 5,
 1]

In [107]:
# coin_counts = {1:0, 2:0, 5:0}
coin_counts = {}

for coin in piggy:
    if coin in coin_counts:
        coin_counts[coin] += 1
    else:
        coin_counts[coin] = 1
    print(coin_counts)
    
# coin_counts

{2: 1}
{2: 2}
{2: 2, 10: 1}
{2: 2, 10: 1, 1: 1}
{2: 2, 10: 2, 1: 1}
{2: 3, 10: 2, 1: 1}
{2: 3, 10: 2, 1: 2}
{2: 3, 10: 2, 1: 2, 20: 1}
{2: 3, 10: 2, 1: 2, 20: 1, 5: 1}
{2: 3, 10: 2, 1: 2, 20: 2, 5: 1}
{2: 3, 10: 2, 1: 2, 20: 3, 5: 1}
{2: 3, 10: 2, 1: 3, 20: 3, 5: 1}
{2: 3, 10: 2, 1: 3, 20: 3, 5: 2}
{2: 3, 10: 2, 1: 3, 20: 3, 5: 3}
{2: 4, 10: 2, 1: 3, 20: 3, 5: 3}
{2: 5, 10: 2, 1: 3, 20: 3, 5: 3}
{2: 5, 10: 3, 1: 3, 20: 3, 5: 3}
{2: 5, 10: 3, 1: 3, 20: 3, 5: 4}
{2: 5, 10: 4, 1: 3, 20: 3, 5: 4}
{2: 5, 10: 4, 1: 3, 20: 3, 5: 5}
{2: 6, 10: 4, 1: 3, 20: 3, 5: 5}
{2: 6, 10: 4, 1: 3, 20: 3, 5: 6}
{2: 7, 10: 4, 1: 3, 20: 3, 5: 6}
{2: 7, 10: 4, 1: 4, 20: 3, 5: 6}
{2: 8, 10: 4, 1: 4, 20: 3, 5: 6}
{2: 9, 10: 4, 1: 4, 20: 3, 5: 6}
{2: 10, 10: 4, 1: 4, 20: 3, 5: 6}
{2: 11, 10: 4, 1: 4, 20: 3, 5: 6}
{2: 11, 10: 5, 1: 4, 20: 3, 5: 6}
{2: 11, 10: 5, 1: 4, 20: 3, 5: 7}
{2: 11, 10: 5, 1: 5, 20: 3, 5: 7}

In [98]:
piggy.count(1)
piggy.count(2)
piggy.count(5)

7

In [108]:
coin_counts = {}
for coin in piggy:
    coin_counts[coin] = piggy.count(coin)
    
coin_counts

{2: 11, 10: 5, 1: 5, 20: 3, 5: 7}

In [109]:
# Lookup for employees using name

employees = '''
jay,CEO,j@sholay.com,101
veeru,HR,v@sholay.com,2
basanti,CTO,b@sholay.com,1
thakur,SSE,t@sholay.com,1001
'''

{
    'basanti': ['CTO', 'b.', ..],
    'jay':     ['CEO', 'j..', ..]
}

In [ ]:
# Queries
# basanti's designation : CTO
#

In [ ]:
# Data Structs
# 0. Dict of List of Dicts
# 1. Dict of Dicts +++
# 2. Dict of lists
# 3. List of lists

In [110]:
None

In [111]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [114]:
# sentence = 'A man a plan a canal panama'
sentence = 'Able was I ere I saw Elba'

In [ ]:
{
    1: ['I', 'I'],
    3: ['was', 'ere', 'saw']
    4: ['Able', 'Elba']
}

In [115]:
words_by_len = {}

for word in sentence.split():
    key = len(word)
    if key not in words_by_len:
        words_by_len[key] = []
    words_by_len[key].append(word)
    print(words_by_len)

{4: ['Able']}
{4: ['Able'], 3: ['was']}
{4: ['Able'], 3: ['was'], 1: ['I']}
{4: ['Able'], 3: ['was', 'ere'], 1: ['I']}
{4: ['Able'], 3: ['was', 'ere'], 1: ['I', 'I']}
{4: ['Able'], 3: ['was', 'ere', 'saw'], 1: ['I', 'I']}
{4: ['Able', 'Elba'], 3: ['was', 'ere', 'saw'], 1: ['I', 'I']}

## Fun: Python Challenge

In [116]:
2**38

274877906944

In [118]:
crypt = '''
g fmnc wms bgblr rpylqjyrc gr zw fylb. rfyrq ufyr amknsrcpq ypc dmp. bmgle gr gl zw fylb gq glcddgagclr ylb rfyr'q ufw rfgq rcvr gq qm jmle. sqgle qrpgle.kyicrpylq() gq pcamkkclbcb. lmu ynnjw ml rfc spj.
'''

In [119]:
ord('a')

97

In [120]:
ord('A')

65

In [121]:
chr(65)

'A'

In [122]:
char = 'a'
chr(ord(char)+2)

'c'

In [126]:
for char in crypt:
    print(chr(ord(char)+2), end='')

i"hope"you"didnt"tr{nsl{te"it"|y"h{nd0"th{ts"wh{t"computers"{re"for0"doing"it"in"|y"h{nd"is"inefficient"{nd"th{t)s"why"this"text"is"so"long0"using"string0m{ketr{ns*+"is"recommended0"now"{pply"on"the"url0

In [127]:
for char in 'map':
    print(chr(ord(char)+2), end='')

ocr