# DateTime

Vectorization : str -> numeric

In [79]:
datestr = '13/09/2023 04:40'

In [80]:
int(datestr.split()[1].replace(':', ''))

440

In [78]:
import datetime

In [82]:
d = datetime.datetime.strptime(datestr, '%d/%m/%Y %H:%M')
d

datetime.datetime(2023, 9, 13, 4, 40)

In [83]:
type(d)

datetime.datetime

In [87]:
d.ctime()
d.utctimetuple()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=13, tm_hour=4, tm_min=40, tm_sec=0, tm_wday=2, tm_yday=256, tm_isdst=0)

In [ ]:
'20110112 22:00'
201101122200

In [94]:
d.hour*60 + d.minute
time = d.hour * 100 + d.minute
time

440

In [90]:
d.month

9

In [ ]:
'46.2,37.5,1.0,20101112 20:30'

'46.2,37.5,1.0,11,2030'

In [ ]:
pd.to_datetime

In [96]:
austin = pd.read_csv('data/austin_weather_data_2010.csv')
austin

      Temperature  DewPoint  Pressure            Date
0            46.2      37.5       1.0  20100101 00:00
1            44.6      37.1       1.0  20100101 01:00
2            44.1      36.9       1.0  20100101 02:00
3            43.8      36.9       1.0  20100101 03:00
4            43.5      36.8       1.0  20100101 04:00
...           ...       ...       ...             ...
8754         51.1      38.1       1.0  20101231 19:00
8755         49.0      37.9       1.0  20101231 20:00
8756         47.9      37.9       1.0  20101231 21:00
8757         46.9      37.9       1.0  20101231 22:00
8758         46.2      37.7       1.0  20101231 23:00

[8759 rows x 4 columns]

In [97]:
austin.dtypes

Temperature    float64
DewPoint       float64
Pressure       float64
Date            object
dtype: object

In [98]:
d = pd.to_datetime(austin['Date'])
d

0      2010-01-01 00:00:00
1      2010-01-01 01:00:00
2      2010-01-01 02:00:00
3      2010-01-01 03:00:00
4      2010-01-01 04:00:00
               ...
8754   2010-12-31 19:00:00
8755   2010-12-31 20:00:00
8756   2010-12-31 21:00:00
8757   2010-12-31 22:00:00
8758   2010-12-31 23:00:00
Name: Date, Length: 8759, dtype: datetime64[ns]

In [101]:
d.dt.hour*100 + d.dt.minute

0          0
1        100
2        200
3        300
4        400
        ...
8754    1900
8755    2000
8756    2100
8757    2200
8758    2300
Name: Date, Length: 8759, dtype: int64

In [102]:
d.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
8754    12
8755    12
8756    12
8757    12
8758    12
Name: Date, Length: 8759, dtype: int64